/* -------------------------- 
----------- FONTS -----------
-----------------------------*/

@font-face {
    font-family: "stencil";
    src: url("/fonts/StardosStencil-Bold.ttf") format("ttf"),
        url("/fonts/StardosStencil-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "comfort";
    src: url("/fonts/Comfortaa-VariableFont_wght.ttf") format("ttf");
}

@font-face {
    font-family: "raleway";
    src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
}

/* -------------------------- 
--------- VARIABELE ---------
-----------------------------*/

:root {
    --fruit-automaat-kleur: #FECA3F;
    --achtergrond-kleur: white;

    --oneens-knop-kleur: #FF9798;
    --eens-knop-kleur: #95D264;

    --kaarten-achtergrond: #242947;

    --random-deg: 1deg;
}



/* -------------------------- 
--------- ALGEMEEN ----------
-----------------------------*/
body {
    margin: 0;

    font-family: stencil;

    background-color: var(--achtergrond-kleur);
    overflow: hidden;

    -drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

img {
    -drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body.slepen {
    /* verandert de cursor naar "vastpakken" wanneer er vast gepakt wordt */
    cursor: grab;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}



/* -------------------------- 
------- FRUITAUTOMAAT -------
-----------------------------*/

.fruitautomaat-container {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: black;

    /* animation-name: container-verdwijnen;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards; */

    /* display: none; */
    transition: 1s;
}

.verdwijn-fruitautomaat .fruitautomaat-container {
    display: none;
}


.fruitautomaat-container>ul {
    background-color: var(--fruit-automaat-kleur);

    height: 20em;
    width: 40em;

    padding: 3em 5em;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 0.5em;
}

.fruitautomaat-container>ul ul {
    background-color: white;

    height: 100%;

    border-radius: 0.5em;

    overflow-y: hidden;
}

.fruitautomaat-container>ul ul li {
    background-color: lightgoldenrodyellow;

    padding: 0 3em;

    height: 50%;

    transform: translateY(-50%);

    display: flex;
    align-items: center;
    flex-direction: column;
}

.fruitautomaat-container>ul ul li {
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-name: scrollen1;
    animation-duration: 1s;
    /* animation-iteration-count: 3; */
}

/* Fruitmachine slot 1 */
.fruitautomaat-container>ul ul:nth-child(1) li {}

/* Fruitmachine slot 2 */
.fruitautomaat-container>ul ul:nth-child(2) li {
    animation-duration: 2s;
}

/* Fruitmachine slot 3 */
.fruitautomaat-container>ul ul:nth-child(3) li {
    animation-duration: 2.5s;
}

.fruitautomaat-container>ul ul li img {
    margin: auto 0;
    height: 50%;
}

.fruitautomaat-container>ul ul li:nth-child(odd) {
    background-color: lightyellow;
}



/* -------------------------- 
--------- VERBERGEN ---------
-----------------------------*/

.verberg-container {
    /* background-color: red; */
    position: absolute;
    left: 2em;
    top: 2em;
}

.verberg-container button:before {
    content: "Verbergen";
}

.fruitautomaat-container.verbergen {
    display: none;
}



/* -------------------------- 
------ ACCOUNT OVERLAY ------
-----------------------------*/

.account-container {
    display: none;
}

.toon-account-container .account-container {
    display: block;
}

.account-container {
    background-color: rgba(0, 0, 0, 0.8);

    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 20;

    animation-name: container-animatie;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.sluit-overlay .account-container {
    display: none;
}

.account-overlay {
    background-color: white;

    position: absolute;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    margin: auto;

    width: 44%;
    height: 58%;

    padding: 1em 3em;

    border-radius: 0.5em;

    z-index: 20;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;

    box-shadow: 0 0 25px #fff
}

.account-overlay img:first-of-type {
    height: 25%;
}

.account-overlay img:last-of-type {
    position: absolute;
    bottom: 0;
    right: 0;

    height: 65%;
}

.account-overlay form {
    margin-top: 1em;
}

.account-overlay form label {
    margin-bottom: 3em;
}

.account-overlay form a {
    color: orange;
}

.account-overlay form input {
    font-family: Arial, Helvetica, sans-serif;

    border-radius: 0.5em;
    border: 3px solid orange;
    outline: none;

    display: block;
    margin: 0.25em 0 1.25em;

    font-size: 20px;
    /* color: white; */
    /* background-color: plum; */

    padding: 0.5em;
}

.account-overlay form input[type=checkbox] {
    display: inline;
    margin: 0;
    margin-top: 0.5em;

    cursor: pointer;
}

.account-overlay form label:last-of-type {
    font-size: 14px;
    font-weight: normal;
}

.account-overlay button {
    margin-top: 2em;
    padding: 1em 2em;

    font-weight: 600;
    color: white;
    font-size: 16px;

    outline: none;
    border-radius: 0.5em;
    border: none;

    background: rgb(184, 202, 182);
    background: linear-gradient(180deg, rgba(184, 202, 182, 1) 0%, rgba(70, 131, 30, 1) 50%, rgba(126, 194, 5, 1) 100%);

    filter: grayscale(100%);
    cursor: auto;

    transition: filter 1s;
}

.account-overlay button:hover {
    filter: grayscale(0%);
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}



/* -------------------------- 
---------- KAARTEN ----------
-----------------------------*/

.kaarten-container {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    background-color: var(--kaarten-achtergrond);

    font-family: raleway;
}

.kaarten-container>ul {
    display: flex;
    /* align-items: center;
    justify-content: center; */

    width: 80vw;
    justify-content: space-around;
}

.kaarten-container>ul>li {
    background-color: hsl(231, 33%, 24%);

    height: 34em;
    width: 22em;

    padding: 1.5em;

    border-radius: 0.5em;

    /* box-shadow: inset rgba(54, 61, 106, 0.25) 0px 0px 20px 5px; */
    box-shadow: inset #1b1f377e 5px 5px 10px 2px,
        inset #1b1f377e -2px -2px 10px 2px;
}



/* .kaarten-container ul li:nth-child(1) ul {
    background-color: red;
} */

.kaarten-container ul li ul {
    height: 100%;
    width: 100%;

    position: relative;
}

.kaarten-container ul li ul li {
    align-self: center;

    background-color: white;

    height: 100%;
    width: 100%;

    /* padding: 3em; */

    display: flex;

    position: absolute;
    border-radius: 0.5em;

    text-align: center;

    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */

    transform: translateY(-60em);
}

.ontvangen .kaarten-container ul li ul li {
    animation-name: kaart-ontvangen;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}



/* FRUIT2 UITPROBEREN */
.fruit2 .kaarten-container ul li ul li {
    animation-name: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 12px;
}

.fruit2 .kaarten-container ul li ul li:nth-child(1) {
    transform: rotate(-0.5deg) !important;
}

.fruit2 .kaarten-container ul li ul li:nth-child(2) {
    transform: rotate(4deg) !important;
}

.fruit2 .kaarten-container ul li ul li:nth-child(3) {
    transform: rotate(2deg) !important;
}



.gewonnen .kaarten-container ul li ul li {
    animation-name: none;
}


/* .kaarten-container ul li ul li:after {

    content: "";

    background-color: red;

    height: 100%;
    width: 50%;

    position: absolute;
    border-radius: 0.5em;

    z-index: -1;
} */





.kaarten-container ul li p {
    align-self: center;
    line-height: 1.5em;

    padding: 0 2em;

    font-family: raleway;
    font-size: 22px;

    z-index: 40;
}


.kaarten-container ul li img {
    height: 2em;

    /* fill: red; */
}

.kaarten-container ul li img:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;

    height: 50%;

    transform: translate(-50%, -50%);

    opacity: 0.05;
}


.kaarten-container ul li header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.kaarten-container ul li footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;
    padding: 2em;

    transform: rotate(180deg);
}

.kaarten-container ul li span {
    color: red;
    font-size: 18px;

    font-weight: 600;
}


.test .kaarten-container ul li ul li {
    background-color: orange;
    box-shadow: 0 0 1em orange;
    color: white;
}

.test .kaarten-container ul li img:nth-child(2) {
    opacity: 0.15;
}



/* -------------------------- 
---------- KNOPPEN ----------
-----------------------------*/

.knoppen-container {
    text-align: center;
    padding: 0.5em;

    border-radius: 3.2em;

    position: absolute;

    bottom: 5em;
    right: 0;
    left: 0;

    margin: 0 auto;

    width: 30em;

    background-color: none;

    display: flex;
    justify-content: center;
    gap: 1em;

    /* box-shadow: inset 0 0 0.25em #ffffff50; */
}

.knoppen-container button {
    cursor: pointer;

    /* padding: 1.25em; */

    border-radius: 0 3.2em 3.2em 0;

    height: 4em;
    width: 100%;

    background-color: var(--eens-knop-kleur);
    box-shadow: 0 0 1em var(--eens-knop-kleur);

    border: none;

    font-family: raleway;
    color: white;
    font-size: 15px;
    font-weight: 600;
}


/* Wanneer joker getrokken wordt */
.test .knoppen-container button,
.test .knoppen-container button:nth-child(1),
.test .knoppen-container button:nth-child(2) {
    background-color: orange;
    box-shadow: 0 0 1em orange;
    color: white;
}

.test .knoppen-container {
    gap: 0;
}

.knoppen-container button:focus {
    opacity: 0.8;
}

.knoppen-container button:nth-child(1) {
    background-color: var(--oneens-knop-kleur);
    box-shadow: 0 0 1em var(--oneens-knop-kleur);
    border-radius: 3.2em 0 0 3.2em;
}

.knoppen-container button:nth-child(2) {
    background-color: white;
    box-shadow: 0 0 1em white;

    color: black;

    border-radius: 0;

    position: relative;
}

.knoppen-container button:nth-child(2):before {
    content: url("/images/chips.svg");

    /* height: 0.5em; */
    width: 1.25em;
    left: 2em;

    position: absolute;
}

.knoppen-container button:nth-child(2):focus {
    opacity: 1;
}



.wijziging-container {
    color: #FECA3F;
    font-weight: 600;

    position: absolute;
    bottom: 10.25em;

    z-index: 10;
}




/* SLEPEN */

.sortable-ghost {
    opacity: 0;
}






/* -------------------------- 
-------- AFGELOPEN ----------
-----------------------------*/

/* Algeme stijling voor beide */
main section:nth-child(2),
main section:nth-child(2) section,
main section:nth-child(3),
main section:nth-child(3) section {
    display: none;
}

main section:nth-child(2),
main section:nth-child(3) {
    /* background-color: rgba(255, 255, 255, 0.25); */
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 40;

    animation-name: afgelopen;
    animation-duration: 1.5s;
}

main section:nth-child(2) section,
main section:nth-child(3) section {
    background-color: white;
    height: 50%;
    width: 50%;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 0.5em;
    box-shadow: 0 0 50px 15px rgba(0, 0, 0, 0.5);

    opacity: 0;

    animation-name: afgelopen;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

main section:nth-child(2) section p,
main section:nth-child(3) section p {
    text-align: center;

    width: 60%;
    margin: 0 auto;
    margin-top: 2em;

    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
}

main section:nth-child(2) section a,
main section:nth-child(3) section a {

    position: absolute;
    bottom: calc(4em - 2.25em);
    left: 0;
    right: 0;

    text-align: center;
    text-decoration: none;

    width: 40%;
    margin: 0 auto;
    padding: 1.25em 0;

    background-color: orange;
    box-shadow: 0 0 1em orange;
    color: white;
    cursor: pointer;

    font-size: 22px;
    border: none;
    outline: none;
    border-radius: 0.5em;
}

main section:nth-child(2) section span,
main section:nth-child(3) section span {
    color: orange;
}

main section:nth-child(2) section span,
main section:nth-child(3) section span {
    color: orange;
}

main section:nth-child(2) section p:nth-child(3),
main section:nth-child(3) section p:nth-child(3) {
    font-size: 20px;
    text-transform: unset;

    opacity: 0.25;
}

/* afgelopen */
.gewonnen main section:nth-child(2),
.gewonnen main section:nth-child(2) section,
.vergokt main section:nth-child(3),
.vergokt main section:nth-child(3) section {
    display: block;
}



/* Stijling voor gewonnen */
main section:nth-child(2) section:before {
    content: url("/images/confetti-7.gif");
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2.3);

    transform-origin: center center;

    opacity: 0.75;
}

main section:nth-child(2) section span:nth-child(2) {
    margin-left: 1em;
}

main section:nth-child(2) section span:nth-child(2):before {
    content: url("/images/chips.svg");

    width: 0.75em;
    margin-top: 0.09em;
    margin-left: -1em;
    /* left: 2em; */

    position: absolute;
}



/* Stijling voor vergokt */

main section:nth-child(3) section a {

    filter: grayscale(100%);
    opacity: 0.75;

    pointer-events: none;
}



/* -------------------------- 
------------ NAAM & TIJD -----------
-----------------------------*/

body div {
    position: absolute;
    bottom: 1.5em;
    right: 2.75em;

    font-family: Raleway;
    font-size: 26px;
    font-weight: 600;
    color: white;

    text-shadow: 0 0 1em white;

    z-index: 90;
}

body div:first-of-type {
    bottom: 1.5em;
    left: 2.75em;
}

body div span {
    font-weight: 600;
}

body div p {
    font-weight: normal;
}



/* -------------------------- 
--------- ANIMATIES ---------
-----------------------------*/

@keyframes scrollen1 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-665%);
    }

    75% {
        transform: translateY(-635%);
    }

    100% {
        transform: translateY(-650%);
    }
}

@keyframes kaart-ontvangen {
    0% {
        transform: translateY(-60em) rotate(0);
    }

    100% {
        transform: translateY(0) rotate(var(--random-deg));
    }
}

@keyframes container-animatie {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes afgelopen {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@media screen and (max-width: 480px) {

    body,
    main {
        overflow: hidden;
    }

    .knoppen-container {
        right: auto;
        left: auto;
        transform: scale(0.75);
        /* bottom: 3em; */
        gap: 2em;
    }

    .kaarten-container>ul {
        width: auto;
        transform: scale(0.75);
    }

    body div {
        font-size: 12px;
        top: 3em;
        bottom: auto;
    }
}