/* -------------------------- 
----------- FONTS -----------
-----------------------------*/

@font-face {
    font-family: "stencil";
    src: url("../fonts/StardosStencil-Bold.ttf") format("ttf"),
        url("../fonts/StardosStencil-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "comfort";
    src: url("../fonts/Comfortaa-VariableFont_wght.ttf") format("ttf");
}

@font-face {
    font-family: "raleway";
    src: url('../fonts/Raleway-Regular.ttf') format("ttf");
}

@font-face {
    font-family: "casino";
    src: url('../fonts/CasinoFlat.ttf') format("ttf");
}

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');



/* -------------------------- 
--------- VARIABELE ---------
-----------------------------*/

:root {
    --fruit-automaat-kleur: #FECA3F;
    --achtergrond-kleur: white;

    --oneens-knop-kleur: #FF9798;
    --eens-knop-kleur: #95D264;

    --kaarten-achtergrond: #242947;

    --random-deg: 1deg;
}



/* -------------------------- 
--------- ALGEMEEN ----------
-----------------------------*/

body {
    margin: 0;

    font-family: stencil;

    background-color: var(--achtergrond-kleur);
    overflow: hidden;

    -drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

img {
    -drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body.slepen {
    /* verandert de cursor naar "vastpakken" wanneer er vast gepakt wordt */
    cursor: grab;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}



/* -------------------------- 
------- FRUITAUTOMAAT -------
-----------------------------*/

.fruitautomaat-container {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: black;

    /* animation-name: container-verdwijnen;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards; */

    /* display: none; */
    transition: 1s;

    z-index: 999;
}

.verdwijn-fruitautomaat .fruitautomaat-container {
    /* display: none; */
}


.fruitautomaat-container>ul {
    background-color: var(--fruit-automaat-kleur);

    height: 20em;
    width: 40em;

    padding: 3em 5em;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 0.5em;
}

.fruitautomaat-container>ul ul {
    background-color: white;

    height: 100%;

    border-radius: 0.5em;

    overflow-y: hidden;
}

.fruitautomaat-container>ul ul li {
    background-color: lightgoldenrodyellow;

    padding: 0 3em;

    height: 50%;

    transform: translateY(-50%);

    display: flex;
    align-items: center;
    flex-direction: column;
}

.fruitautomaat-container>ul ul li {
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-name: scrollen1;
    animation-duration: 1s;
    /* animation-iteration-count: 3; */
}

/* Fruitmachine slot 1 */
.fruitautomaat-container>ul ul:nth-child(1) li {}

/* Fruitmachine slot 2 */
.fruitautomaat-container>ul ul:nth-child(2) li {
    animation-duration: 2s;
}

/* Fruitmachine slot 3 */
.fruitautomaat-container>ul ul:nth-child(3) li {
    animation-duration: 2.5s;
}

.fruitautomaat-container>ul ul li img {
    margin: auto 0;
    height: 50%;
}

.fruitautomaat-container>ul ul li:nth-child(odd) {
    background-color: lightyellow;
}



/* -------------------------- 
--------- VERBERGEN ---------
-----------------------------*/

.verberg-container {
    /* background-color: red; */
    position: absolute;
    left: 2em;
    top: 2em;
}

.verberg-container button:before {
    content: "Verbergen";
}

.fruitautomaat-container.verbergen {
    display: none;
}



/* -------------------------- 
----------- PROMO -----------
-----------------------------*/

.promo {
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* background-color: red; */
    background-image: url("../images/promo-bg2-blur.png");
    background-repeat: no-repeat;
    background-size: cover;


    height: 100vh;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 150;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */

    /* backdrop-filter: blur(15px); */
    /* filter: blur(5px); */

    padding-top: 15em;

    cursor: pointer;
}

.promo p {

    /* position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%); */

    /* margin-top: 0.25em; */
    font-size: 250px;
    align-self: center;
    color: orange;
    text-shadow: 5px 5px 0 darkorange, 8px 8px 0 darkorange, 11px 11px 0 darkorange, 0px 0px 50px orange;

    display: block;
}

.promo p:nth-child(1) {
    font-size: 42px;
    text-shadow: 0px 0px 5px orange;
}

.promo p:nth-child(3) {
    margin-top: 0.25em;
    font-size: 100px;
    text-shadow: 0px 0px 20px white;
    color: white;
}

.promo button {
    width: 25%;
    margin: 2em auto 0;


    font-family: stencil;
    letter-spacing: 0.5em;

    display: block;

    padding: 2em;

    /* font-weight: 600; */
    color: white;
    font-size: 24px;

    outline: none;
    border-radius: 0.5em;
    border: none;

    background: rgb(184, 202, 182);
    background: linear-gradient(180deg, rgba(184, 202, 182, 1) 0%, rgba(70, 131, 30, 1) 50%, rgba(126, 194, 5, 1) 100%);
    box-shadow: 0px 0px 20px 10px rgba(70, 131, 30, 1);

    transition: filter 1s;
    pointer-events: none;

    animation-name: promoKnop;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes promoKnop {
    0% {
        box-shadow: 0px 0px 20px 10px rgba(70, 131, 30, 1);
    }

    100% {
        box-shadow: 0px 0px 20px 20px rgba(70, 131, 30, 1);
    }
}



.weg-promo-overlay .promo {
    display: none;
}






/* -------------------------- 
------ ACCOUNT OVERLAY ------
-----------------------------*/

.weg-account-overlay .account-container {
    display: none;
}




.account-container {
    /* background-color: rgba(0, 0, 0, 0.8); */
    background-color: var(--kaarten-achtergrond);

    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 200;

    /* animation-name: container-animatie;
    animation-duration: 2s;
    animation-fill-mode: forwards; */

    /* display: none; */
}

.sluit-overlay .account-container {
    display: none;
}

.account-overlay {
    /* background-color: var(--kaarten-achtergrond); */
    background-color: #00000080;

    backdrop-filter: blur(15px);

    color: white;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin: auto;

    height: 58%;
    aspect-ratio: 2/1;

    padding: 3em;

    border-radius: 0.5em;

    z-index: 20;

    font-family: raleway;
    font-weight: 600;

    /* box-shadow: 0 0 100px rgba(255, 255, 255, 0.5); */
    box-shadow: 0 0 100px orange;

    /* background-image: url("/images/account-img2.png");
    background-repeat: no-repeat;
    background-position: 92% 100%;
    background-size: 40%; */
}

.account-overlay section {
    position: relative;
}

.account-overlay section img {
    position: absolute;
    right: 2em;
    bottom: 8em;
    /* transform: translateY(-50%); */

    width: 40%;

    filter: drop-shadow(0px 0px 20px orange);
}

.account-container {
    background-image: url("../images/bigprize4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.account-overlay h2 {
    color: #EFD80D;
    margin-bottom: 0.5em;
    font-size: 54px;

    font-family: stencil;
    text-transform: uppercase;

    /* text-shadow: 0 0 20px orange; */
    text-shadow: 3px 3px 0 #A76005, 6px 6px 0 #A76005, 9px 9px 0 #A76005, 0 0 20px yellow;
    /* -webkit-text-stroke: 2px darkorange; */
    /* width and color */
}



/* FORM */
.account-overlay form {
    width: 50%;
}

.account-overlay form a {
    font-weight: 600;
    color: orange;
    font-size: 14px;
}

.account-overlay form>a {
    font-weight: 600;
    color: white;
    font-size: 14px;
}

.account-overlay form>a {
    font-weight: normal;
    text-decoration: none;
}

/* .account-overlay form label {
    margin-bottom: 3em;
} */


/* Input */
.account-overlay form input,
.account-overlay form select {
    font-family: raleway;
    color: white;

    border-radius: 0.5em;
    border: none;
    outline: none;

    display: inline;
    margin-bottom: 1.25em;

    font-size: 20px;
    font-weight: 600;

    /* background-color: #474e72; */
    background-color: #00000090;
    /* box-shadow: 0 0 10px orange; */

    padding: 1em;
    margin: 1em 0;

    width: calc(100% - 2em);
    /* width: 100%; */
}



.account-overlay form input[type=text] {
    width: calc(50% - 2.1em);
}

.account-overlay form input[type=email] {
    width: calc(60% - 2.1em);
}

.account-overlay form input[type=tel] {
    width: calc(40% - 2.1em);
}

.account-overlay form input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}



.account-overlay form input[type=checkbox] {

    width: auto;

    display: inline;
    margin: 0;
    margin-top: 1em;

    cursor: pointer;

    accent-color: orange;
}


.account-overlay form input[type=checkbox]~label {}


.account-overlay form select {
    width: calc(50% - 0.1em);
}

.account-overlay form section {
    display: inline;
    position: relative;
}

.account-overlay form section:before {
    content: url("../images/arrow-down.svg");

    color: white;
    fill: white;

    position: absolute;
    top: 0;
    right: 1em;
}


.account-overlay form section select {
    appearance: none;
}

.account-overlay form input::placeholder {
    color: white;
    /* font-size: 14px; */
    opacity: 0.5;
}

.account-overlay form label:last-of-type {
    font-size: 14px;
    font-weight: normal;
    font-family: raleway;
}




/* Form knop */
.account-overlay button {

    font-family: raleway;

    display: block;

    margin: 1.5em 0 1em 0;
    padding: 1em 2em;

    font-weight: 600;
    color: white;
    font-size: 16px;

    outline: none;
    border-radius: 0.5em;
    border: none;

    background: rgb(184, 202, 182);
    background: linear-gradient(180deg, rgba(184, 202, 182, 1) 0%, rgba(70, 131, 30, 1) 50%, rgba(126, 194, 5, 1) 100%);

    filter: grayscale(100%);
    cursor: auto;

    transition: filter 1s;
    pointer-events: none;
}

.aangevinkt .account-overlay button {
    filter: grayscale(0%);
    pointer-events: auto;
    cursor: pointer;
}





/* -------------------------- 
---------- KAARTEN ----------
-----------------------------*/

/* Kaart opmaak - container */
.kaarten-container {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    background-color: var(--kaarten-achtergrond);

    font-family: raleway;
}

.kaarten-container>ul {
    display: flex;
    /* align-items: center;
    justify-content: center; */

    width: 80vw;
    justify-content: space-around;
}

.kaarten-container>ul>li {
    background-color: #474e72;

    height: 34em;
    width: 22em;

    padding: 1.5em;

    border-radius: 0.5em;

    /* box-shadow: inset rgba(54, 61, 106, 0.25) 0px 0px 20px 5px; */
    box-shadow: inset #1b1f377e 5px 5px 10px 2px,
        inset #1b1f377e -2px -2px 10px 2px;
}

.kaarten-container ul li ul {
    height: 100%;
    width: 100%;

    position: relative;
}



/* SLEEP CONTAINERS OPMAAK (NIEUWE ITERATIE) */

/* Oneens container */
.kaarten-container>ul>li:nth-child(1) {
    background-color: var(--oneens-knop-kleur);

    box-shadow: inset #9b434479 5px 5px 10px 2px,
        inset #9b434479 -2px -2px 10px 2px;

    position: relative;
}

.kaarten-container>ul>li:nth-child(1) ul:empty:before {
    content: "Oneens";

    font-family: stencil;
    color: #9b434479;

    font-size: 64px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}


/* Eens container */
.kaarten-container>ul>li:nth-child(3) {
    background-color: var(--eens-knop-kleur);

    box-shadow: inset #32501c6e 5px 5px 10px 2px,
        inset #32501c6e -2px -2px 10px 2px;

    position: relative;
}

/* Eens container */
.kaarten-container>ul>li:nth-child(3) ul:empty:before {
    content: "Eens";

    font-family: stencil;
    color: #32501c6e;

    font-size: 64px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}



/* -------------------------- 
------ KAART ELEMENTEN ------
-----------------------------*/

/* KAART ELEMENT - Container */
.kaarten-container ul li ul li {
    align-self: center;

    background-color: white;

    height: 100%;
    width: 100%;

    display: flex;

    position: absolute;
    border-radius: 0.5em;

    /* border: 5px solid white; */
    box-shadow: inset 0 0 0 5px white;
    /* border: 2px solid red; */
    text-align: center;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    /* transform: translateY(0em) rotate(1deg); */

}

.kaarten-container>ul>li:nth-child(2) {
    position: relative;
}

/* .kaarten-container>ul>li:nth-child(2):before {
    content: "hoi";
    position: absolute;
} */


/* HINT */
/* .kaarten-container>ul>li:nth-child(2):before {
    content: "Sleep de kaarten";

    position: absolute;
    top: -3em;
    left: 0;
    right: 0;
    text-align: center;

    color: white
} */

/* NOG EEN HINT */
/* .kaarten-container>ul>li:nth-child(1) {
    border: 8px dashed white;
    border-image-width: 1;
    border-image-slice: 5;
} */






.kaarten-container ul li ul li {
    /* animation-name: kaart-ontvangen;
    animation-fill-mode: forwards !important; */
    /* transform: translateY(-60em); */
    /* transform: rotate(var(--willekeurige-rotatie)); */
}

/* .tijdelijk .kaarten-container ul li ul li {
    animation-name: none;
} */












/* Kaart animatie */
.kaarten-container ul li ul li {
    /* animation-name: kaart-ontvangen;
    animation-fill-mode: forwards;
    animation-duration: 1.5s; */
}



/* KAART ELEMENT - Middenstuk */
.kaarten-container ul li p {
    align-self: center;
    line-height: 1.5em;

    padding: 0 2em;

    font-family: raleway;
    font-size: 22px;

    z-index: 40;
}

/* Kaart bg */
.kaarten-container ul li img:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;

    height: 50%;

    transform: translate(-50%, -50%);

    opacity: 0.05;
}



/* KAART ELEMENT - Header */
.kaarten-container ul li header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;
    padding: 2em;
}



/* KAART ELEMENT - Footer */
.kaarten-container ul li footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;
    padding: 2em;

    transform: rotate(180deg);
}



/* KAART ELEMENT - ALGEMEEN */
.kaarten-container ul li img {
    height: 2em;
}

.kaarten-container ul li span {
    font-size: 18px;

    font-weight: 600;
}



/* -------------------------- 
---- KAART UITZONDERINGEN ---
-----------------------------*/

/* Rode kaart */
.rodekaart span {
    color: red;
}

.rodekaart {}

/* Zwarte kaart */
.zwartekaart span {
    color: black;
}

.zwartekaart {}

/* Joker kaart */
.jokerkaart {
    /* border: 5px solid orange !important; */
    box-shadow: inset 0 0 0 5px orange !important;
    font-weight: 600;
    font-family: stencil;
}

.jokerkaart span {
    color: orange;
}

.jokerkaart img:nth-child(2) {
    opacity: 0.15 !important;
}

/* Styling wanneer joker wordt getrokken */
.joker-getrokken .kaarten-container {
    /* animation-name: joker-animatie-body;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out; */
}

.joker-getrokken .kaarten-container>ul>li:nth-child(2) {
    /* background-color: orange; */
}

.joker-getrokken .kaarten-container>ul>li:nth-child(3) {
    animation-name: joker-animatie-container;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.joker-getrokken .kaarten-container>ul>li:nth-child(1) {
    /* filter: grayscale(100%); */

    transition: opacity 1s;

    opacity: 0.15;
}

.joker-getrokken .jokerkaart {
    /* animation-name: joker-animatie-kaart;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out; */
    background-color: #FFFAF2;
}

.joker-getrokken .kaarten-container>ul>li:nth-child(2) {
    /* box-shadow: 0 0 15px 15px orange; */
    /* padding: 3em; */
}

.joker-getrokken .aantal-punten {
    background-color: orange;
    box-shadow: 0 0 1em orange;
    color: white;
}


/* NIEUWE IMG BIJ JOKER */

.joker .kaarten-container ul li ul li header span,
.joker .kaarten-container ul li ul li footer span {
    font-size: 22px;
    font-weight: 600;
}

.jokerkaart header img,
.jokerkaart footer img {
    height: 7.5em !important;
}



/* -------------------------- 
---------- KNOPPEN ----------
-----------------------------*/

.knoppen-container {
    text-align: center;
    padding: 0.5em;

    border-radius: 3.2em;

    position: absolute;

    bottom: 5em;
    right: 0;
    left: 0;

    margin: 0 auto;

    width: 30em;

    background-color: none;

    display: flex;
    justify-content: center;
    gap: 1em;

    display: none;
}

.knoppen-container button {
    cursor: pointer;

    border-radius: 0 3.2em 3.2em 0;

    height: 4em;
    width: 100%;

    background-color: var(--eens-knop-kleur);
    box-shadow: 0 0 1em var(--eens-knop-kleur);

    border: none;

    font-family: raleway;
    color: white;
    font-size: 15px;
    font-weight: 600;
}

.knoppen-container button:focus {
    opacity: 0.8;
}

.knoppen-container button:nth-child(1) {
    background-color: var(--oneens-knop-kleur);
    box-shadow: 0 0 1em var(--oneens-knop-kleur);
    border-radius: 3.2em 0 0 3.2em;
}

.knoppen-container button:nth-child(2) {
    background-color: white;
    box-shadow: 0 0 1em white;

    color: black;

    border-radius: 0;

    position: relative;
}

.knoppen-container button:nth-child(2):before {
    content: url("/images/chips.svg");

    width: 1.25em;
    left: 2em;

    position: absolute;
}

.knoppen-container button:nth-child(2):focus {
    opacity: 1;
}

.joker .knoppen-container button,
.joker .knoppen-container button:nth-child(1),
.joker .knoppen-container button:nth-child(2) {
    background-color: orange;
    box-shadow: 0 0 1em orange;
    color: white;
}

.joker .knoppen-container {
    gap: 0;
}



/* NIEUW - PUNTEN CONTAINER */
.aantal-punten {
    text-align: center;
    padding: 1.5em 0;

    border-radius: 0.5em;

    position: absolute;

    bottom: 5em;
    right: 0;
    left: 0;

    margin: 0 auto;

    width: 22em;

    background-color: white;
    box-shadow: 0 0 1em white;
}

.aantal-punten span {
    font-size: 44px;
}

.aantal-punten span::before {
    content: url("../images/chips.svg");

    width: 1em;
    left: 1em;

    margin-top: 0.1em;

    position: absolute;
}




/* WEERGAVE - PUNTEN DOORVOEREN */
/* .wijziging-container {

    font-family: raleway;

    color: #FECA3F;
    font-weight: 600;

    position: absolute;
    bottom: 10.25em;

    left: 0;
    right: 0;
    text-align: center;

    z-index: 10;
} */

/* Nieuw - wijziging-container */
.wijziging-container {

    font-family: raleway;

    color: #FECA3F;
    font-weight: 600;

    position: absolute;
    bottom: 12em;
    left: 0;
    right: 0;

    text-align: center;

    z-index: 10;
}

.wijziging-container span {

    font-family: stencil;

    font-size: 22px;

}



/* -------------------------- 
---------- SLEPEN -----------
-----------------------------*/

/* SLEPEN */
.sortable-ghost {
    opacity: 0;
}



/* -------------------------- 
-------- AFGELOPEN ----------
-----------------------------*/

/* Algeme stijling voor beide */
main section:nth-child(4),
main section:nth-child(5) {

    font-family: raleway;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
}

/* Algeme stijling voor beide */
main section:nth-child(4),
main section:nth-child(4) section,
main section:nth-child(5),
main section:nth-child(5) section {
    display: none;
}

main section:nth-child(4),
main section:nth-child(5) {
    /* background-color: rgba(255, 255, 255, 0.25); */
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 40;

    animation-name: afgelopen;
    animation-duration: 1.5s;
}

main section:nth-child(4) section,
main section:nth-child(5) section {
    background-color: white;
    height: 50%;
    width: 50%;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 0.5em;
    box-shadow: 0 0 50px 15px rgba(0, 0, 0, 0.5);

    opacity: 0;

    animation-name: afgelopen;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

main section:nth-child(4) section p,
main section:nth-child(5) section p {
    text-align: center;

    width: 70%;
    margin: 0 auto;
    margin-top: 3em;

    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

main section:nth-child(4) section a,
main section:nth-child(5) section a {

    position: absolute;
    bottom: calc(4em - 2.25em);
    left: 0;
    right: 0;

    text-align: center;
    text-decoration: none;

    width: 40%;
    margin: 0 auto;
    padding: 1.25em 0;

    background-color: orange;
    box-shadow: 0 0 1em orange;
    color: white;
    cursor: pointer;

    font-size: 22px;
    border: none;
    outline: none;
    border-radius: 0.5em;
}

main section:nth-child(4) section span,
main section:nth-child(5) section span {
    color: orange;
}

main section:nth-child(4) section p:nth-child(3),
main section:nth-child(5) section p:nth-child(3) {
    font-size: 24px;
    text-transform: unset;

    opacity: 0.25;
}

/* Afgelopen - laten zien */
.gewonnen main section:nth-child(4),
.gewonnen main section:nth-child(4) section,
.vergokt main section:nth-child(5),
.vergokt main section:nth-child(5) section {
    display: block;
}



/* Stijling voor gewonnen */
main section:nth-child(4) section:before {
    content: url("../images/confetti-7.gif");
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2.3);

    transform-origin: center center;

    opacity: 0.75;
}

main section:nth-child(4) section span:nth-child(2) {
    margin-left: 1em;
}

main section:nth-child(4) section span:nth-child(2):before {
    content: url("/images/chips.svg");

    width: 0.75em;
    margin-top: 0.09em;
    margin-left: -1em;
    /* left: 2em; */

    position: absolute;
}



/* Stijling voor vergokt */
main section:nth-child(5) section a {

    /* filter: grayscale(100%);
    opacity: 0.75; */
}



/* -------------------------- 
------- NAAM & TIJD ---------
-----------------------------*/

body div {
    position: absolute;
    bottom: 1.5em;
    right: 2.75em;

    font-family: Raleway;
    font-size: 26px;
    font-weight: 600;
    color: white;

    text-shadow: 0 0 1em white;

    z-index: 90;
}

body div:first-of-type {
    bottom: 1.5em;
    left: 2.75em;
}

body div span {
    font-weight: 600;
}

body div p {
    font-weight: normal;
}



/* -------------------------- 
--------- ANIMATIES ---------
-----------------------------*/

@keyframes scrollen1 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-665%);
    }

    75% {
        transform: translateY(-635%);
    }

    100% {
        transform: translateY(-650%);
    }
}

@keyframes kaart-ontvangen {
    0% {
        transform: translateY(-60em) rotate(0);
        /* transform: translateY(-60em); */
    }

    100% {
        transform: translateY(0em) rotate(var(--willekeurige-rotatie));
        /* transform: translateY(0em); */
    }
}

@keyframes container-animatie {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes afgelopen {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* @keyframes joker-animatie-body {
    0% {
        box-shadow: inset 0 0 2em 2em rgba(255, 166, 0, 1);
    }

    100% {
        box-shadow: inset 0 0 4em 4em rgba(255, 166, 0, 0.75);
    }
} */



@keyframes joker-animatie-body {
    0% {
        box-shadow: inset 0 0 2em 2em rgba(255, 166, 0, 1);
    }

    100% {
        box-shadow: inset 0 0 4em 4em rgba(255, 166, 0, 0.75);
    }
}



@keyframes joker-animatie-container {
    0% {
        /* box-shadow: 0 0 1em 1em rgba(255, 255, 255, 0.5); */
        box-shadow: 0 0 1em 1em var(--eens-knop-kleur);
        /* box-shadow: 0 0 2em 2em orange; */
    }

    100% {
        /* box-shadow: 0 0 2em 2em rgba(255, 255, 255, 0.5); */
        box-shadow: 0 0 2em 2em var(--eens-knop-kleur);
        /* box-shadow: 0 0 2em 2em orange; */
    }
}



@keyframes joker-animatie-kaart {
    0% {
        box-shadow: 0 0 0.5em orange;
    }

    100% {
        box-shadow: 0 0 1em orange;
    }
}




/* -------------------------- 
------- BREAK POINTS --------
-----------------------------*/

@media screen and (max-width: 480px) {

    body,
    main {
        overflow: hidden;
    }

    .knoppen-container {
        right: auto;
        left: auto;
        transform: scale(0.75);
        bottom: 3em;
    }

    .kaarten-container>ul {
        width: auto;
        transform: scale(0.75);

        gap: 1em;
    }

    body div {
        font-size: 12px;
        top: 3em;
        bottom: auto;
    }
}








/* -------------------------- 
------ KAART ROTATIES ------
-----------------------------*/

.kaarten-container ul li ul li:nth-child(12) {
    animation-delay: 2.4s !important;
    /* animation-fill-mode: forwards !important; */
}

.kaarten-container ul li ul li:nth-child(11) {
    animation-delay: 2.2s !important;
    /* animation-fill-mode: forwards !important; */

}

.kaarten-container ul li ul li:nth-child(10) {
    animation-delay: 2s !important;
    /* animation-fill-mode: forwards !important; */

}

.kaarten-container ul li ul li:nth-child(9) {
    animation-delay: 1.8s !important;
    /* animation-fill-mode: forwards !important; */

}

.kaarten-container ul li ul li:nth-child(8) {
    animation-delay: 1.6s !important;
    /* animation-fill-mode: forwards !important; */

}

.kaarten-container ul li ul li:nth-child(7) {
    animation-delay: 1.4s !important;
    /* animation-fill-mode: forwards !important; */

}

.kaarten-container ul li ul li:nth-child(6) {
    animation-delay: 1.2s !important;
    /* animation-fill-mode: forwards !important; */

}

.kaarten-container ul li ul li:nth-child(5) {
    animation-delay: 1s !important;
    /* animation-fill-mode: forwards !important; */

}

.kaarten-container ul li ul li:nth-child(4) {
    animation-delay: 0.8s !important;
    /* animation-fill-mode: forwards !important; */

}

.kaarten-container ul li ul li:nth-child(3) {
    animation-delay: 0.6s !important;
    /* animation-fill-mode: forwards !important; */

}

.kaarten-container ul li ul li:nth-child(2) {
    animation-delay: 0.4s !important;
    /* animation-fill-mode: forwards !important; */

}

.kaarten-container ul li ul li:nth-child(1) {
    animation-delay: 0.2s !important;
    /* animation-fill-mode: forwards !important; */
}
